<% include ../comment/header.ejs %>

<div class="wrap mt20">
    <div class="box cat_pos clearfix">
        <span class="cat_pos_l">您的位置：
            <a href="/">首页</a>&nbsp;&nbsp;»&nbsp;&nbsp;
            <a href="/video/list/<%= current_category.id %>/1"><%= current_category.name %></a>&nbsp;&nbsp;»&nbsp;&nbsp;
            <a href="#"><%- video.name %></a>
        </span>
    </div>
</div>

<div class="wrap mt20">
    <div class="box">
        <div class="film_info clearfix">
            <dl>
                <dt><a href="/video/play/<%- video.id %>">
                        <img src="<%=imghost%><%= video.icon %>" title="<%- video.name %>"
                             alt="<%- video.name %>" border="0">
                    </a>
                </dt>
                <dd class="film_title"><%- video.name %></dd>
                <dd>类型：<span><%= current_category.name %></span></dd>
                <dd><a href="/video/play/<%- video.id %>" >
                        <img src="/images/bf.png" alt="" border="0"></a>
                </dd>
            </dl>

        </div>

        <div class="film_bar clearfix"><span>1.播放地址：</span>
            <ul>
                <ul>
                    <li><a title="开始" href="/video/play/<%- video.id %>" >开始</a></li>
                </ul>
            </ul>
        </div>
        <div class="film_photo"></div>

    </div>
</div>


<% include ../comment/footer.ejs %>