<% include ../comment/header.ejs %>

<script type="text/javascript" src="/js/ckplayerx/ckplayer.js"></script>

<link rel="stylesheet" href="/css/alert.css">
<script src='/js/alert.js'></script>

<div class="wrap mt20">
    <div class="box cat_pos clearfix">
        <span class="cat_pos_l">您的位置：
            <a href="/">首页</a>&nbsp;&nbsp;»&nbsp;&nbsp;
            <a href="/video/list/<%= current_category.id %>/1"><%= current_category.name %></a>&nbsp;&nbsp;»&nbsp;&nbsp;
            <a href="#"><%- video.name %></a>
        </span>
    </div>
</div>


<div class="wrap mt20">
    <div class="box play">
        <div class="player">

            <div id="content_jr" class="player_l" align="center"
                 style="text-align: center; width: 960px; height: 560px; background-color: rgb(0, 0, 0); overflow: hidden; position: relative;">

                <div id="ckplayercVideo" style="background-color: rgb(0, 0, 0); width: 100%; height: 100%;"></div>

                <script type="text/javascript">
                    var videoObject = {
						crossdomain:'',
						crossorigin:'Anonymous',
						container: '#ckplayercVideo',
						variable: 'player',
						loading: {
							file: '/js/ckplayer/loading.swf',
							align: 'center',
							vAlign: 'middle',
							offsetX: -100,
							offsetY: -40
						},
						autoplay:true,
						poster: '<%=imghost%><%= video.icon %>',
						//flashplayer:true,
						video: '<%= video.url %>'
					};
					var player = new ckplayer(videoObject);

                </script>
            </div>
        </div>
        <div class="clear"></div>
        <div class="box cat_pos clearfix">
            <span class="cat_pos_l2">
                <h3 align="center">
                    <font size="4" color="red">
                        <a target="_self" href="javascript:void(0)"
                           onclick="complain(<%=video.id%>)">无法观看时，请点我</a> |
                        <a target="_self" href="javascript:void(0)"
                                onclick="complain(<%=video.id%>)">视频加载失败，请点我</a>
                    </font>
                </h3>
            </span>
            <br>

        </div>
    </div>
</div>

<script type="text/javascript">
    var M = {}
    function complain(videoid) {
		if(M.dialog5){
			return M.dialog5.show();
		}
		M.dialog5 = jqueryAlert({
			'content' : '<div style="text-align: center"><p>感谢您的支持，站长将尽快处理！！！</p><p>请返回浏览更多精彩内容</p></div>' ,
			'modal'   : true,
			'contentTextAlign' : 'left',
			'width'   : '400px',
			'animateType' : 'linear',
			'buttons' :{
				'确定' : function(){
					M.dialog5.close();
				}
			}
		})
    	if (videoid!=null||videoid!==''){
			$.ajax({
				url: "/video/complain/"+videoid,
				success: function(){

				}});
        }
	}
</script>
<% include ../comment/footer.ejs %>