<% include ../comment/header.ejs %>

<script type="text/javascript" src="/js/ckplayerx/ckplayer.js"></script>

<div class="wrap mt20">
    <div class="box cat_pos clearfix">
        <span class="cat_pos_l">您的位置：
            <a href="/">首页</a>&nbsp;&nbsp;»&nbsp;&nbsp;
            <a href="/video/list/<%= current_category.id %>/1"><%= current_category.name %></a>&nbsp;&nbsp;»&nbsp;&nbsp;
            <a href="#"><%- video.name %></a>
        </span>
    </div>
</div>


<div class="wrap mt20">
    <div class="box play">
        <div class="player">

            <div id="content_jr" class="player_l" align="center"
                 style="text-align: center; width: 960px; height: 560px; background-color: rgb(0, 0, 0); overflow: hidden; position: relative;">

                <div id="ckplayercVideo" style="background-color: rgb(0, 0, 0); width: 100%; height: 100%;"></div>

                <script type="text/javascript">
//					var videoObject = {
//						container: '#ckplayercVideo',
//						autoplay: false,
//						variable: 'player',
//						poster: '<%= video.icon %>',
//						video: '<%= video.url %>'
//					};
//					var player = new ckplayer(videoObject);

                    var videoObject = {
                        container: '#ckplayercVideo',
                        variable: 'player',
                        loading: {
                            file: '/js/ckplayer/loading.swf',
                            align: 'center',
                            vAlign: 'middle',
                            offsetX: -100,
                            offsetY: -40
                        },
                        poster: '<%= video.icon %>',
                        //flashplayer:true,
                        video: '<%= video.url %>'
                    };
                    var player = new ckplayer(videoObject);

                </script>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>


<% include ../comment/footer.ejs %>