<div class="wrap mt20 clearfix">
    <div class="new new_left">
        <div class="ntitle">
            <div class="tle"><h3>最新图片 收藏网址：<span>www.179ny.com</span></h3></div>
            <div class="tri"></div>
        </div>
        <div class="tbox">
            <ul>

                <% advance_photo.forEach(function (item) { %>
                <li>
                    <a href="/photo/detail/<%=item.id%>" title="<%=item.name%>">
                        <em><%=item.name%></em>
                    </a>
                </li>
                <% }) %>


            </ul>
        </div>
    </div>

    <div class="new new_right">
        <div class="ntitle">
            <div class="tle"><h3>最新小说 收藏网址：<span>www.173qr.com</span></h3></div>
            <div class="tri"></div>
        </div>
        <div class="tbox">
            <ul>
                <% advance_text.forEach(function (item) { %>
                <li>
                    <a href="/article/detail/<%=item.id%>" title="<%=item.name%>">
                        <em><%=item.name%></em>
                    </a>
                </li>
                <% }) %>

            </ul>
        </div>
    </div>
</div>