<% include ../comment/header.ejs %>

<script type="text/javascript">
	function addCssByLink(url) {
		var doc = document;
		var link = doc.createElement("link");
		link.setAttribute("rel", "stylesheet");
		link.setAttribute("type", "text/css");
		link.setAttribute("href", url);

		var heads = doc.getElementsByTagName("head");
		if (heads.length)
			heads[0].appendChild(link);
		else
			doc.documentElement.appendChild(link);
	}

	// addCssByLink('/css/jinri.css')
</script>
<style type="text/css">
    .lazy {
        width: 80%;
        min-height: 400px;
        background: url('/images/loading.gif') 50% no-repeat;
    }
</style>
<div class="wrap mt20">
    <div class="box cat_pos clearfix">
        <span class="cat_pos_l">您的位置：
            <a href="/">首页</a>&nbsp;&nbsp;»&nbsp;&nbsp;
            <a href="/photo/list/<%= current_category.id %>/1"><%= current_category.name %></a>&nbsp;&nbsp;»&nbsp;&nbsp;
            <a href="#"><%- article.name %></a>
        </span>
    </div>
</div>
<div class="wrap mt20">
    <div class="txt">
        <div class="thead">
            <%- article.name %>
        </div>
        <div class="tcont" style="text-align: center;">
            <%- article.content %>
        </div>

    </div>
</div>

<script src="/js/echo.min.js"></script>
<script>
	$(function () {

		$('.tcont img').addClass('lazy');
//		$('.tcont img').each(function (index, item) {
//			let ii = $(item);
//			let sourceUrl = ii.attr('src');
//			ii.attr('src','/images/blank.gif');
//			ii.attr('data-echo',sourceUrl);
//		})

		Echo.init({
			offset: 0,
			throttle: 0
		});
	})
</script>

<% include ../comment/footer.ejs %>



